fan+temp.json
[{"id":"b6c07fe0c3424528","type":"tab","label":"fan+templog","disabled":false,"info":"","env":[]},{"id":"2d78622b81584cd2","type":"debug","z":"b6c07fe0c3424528","name":"debug 45","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"b9749bf69303b61e","type":"mqtt in","z":"b6c07fe0c3424528","name":"","topic":"+/FanController-083a8dfb6d3b/#","qos":"2","datatype":"auto-detect","broker":"c60b0fd1.ab0d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":100,"wires":[["2d78622b81584cd2"]]},{"id":"7825ea8cccd82897","type":"inject","z":"b6c07fe0c3424528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/FanController-083a8dfb6d3b/fan/dutycycle/set","payload":"30","payloadType":"num","x":110,"y":240,"wires":[["424a4a51952efac9","422bcaa8b5cb09f7"]]},{"id":"424a4a51952efac9","type":"mqtt out","z":"b6c07fe0c3424528","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c60b0fd1.ab0d5","x":410,"y":240,"wires":[]},{"id":"422bcaa8b5cb09f7","type":"debug","z":"b6c07fe0c3424528","name":"debug 46","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]},{"id":"a1a3ccaeefd61b1f","type":"ui_gauge","z":"b6c07fe0c3424528","name":"","group":"1855d7bbb3573b6a","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"rpm","format":"{{value}}","min":0,"max":"3200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":420,"wires":[]},{"id":"81edf610a7cc0ef2","type":"mqtt in","z":"b6c07fe0c3424528","name":"","topic":"+/FanController-083a8dfb6d3b/fan/rpm","qos":"2","datatype":"auto-detect","broker":"c60b0fd1.ab0d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":420,"wires":[["a1a3ccaeefd61b1f"]]},{"id":"f57be69b42798b8a","type":"ui_slider","z":"b6c07fe0c3424528","name":"","label":"Dutycycle","tooltip":"","group":"1855d7bbb3573b6a","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"test/FanController-083a8dfb6d3b/fan/dutycycle/set","topicType":"str","min":0,"max":"100","step":1,"className":"","x":120,"y":480,"wires":[["424a4a51952efac9"]]},{"id":"f8c7333901dfafd0","type":"mqtt in","z":"b6c07fe0c3424528","name":"","topic":"+/FanController-083a8dfb6d3b/fan/dutycycle","qos":"2","datatype":"auto-detect","broker":"c60b0fd1.ab0d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":540,"wires":[["f57be69b42798b8a"]]},{"id":"c029b4af3d2806d2","type":"debug","z":"b6c07fe0c3424528","name":"debug 47","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":640,"wires":[]},{"id":"0ccd947315219451","type":"mqtt in","z":"b6c07fe0c3424528","name":"","topic":"+/TempLogger-083a8dfb6d3b/#","qos":"2","datatype":"auto-detect","broker":"c60b0fd1.ab0d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":640,"wires":[["c029b4af3d2806d2"]]},{"id":"1eb22f3be6805dc1","type":"mqtt out","z":"b6c07fe0c3424528","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c60b0fd1.ab0d5","x":510,"y":720,"wires":[]},{"id":"36bc900a203351c5","type":"inject","z":"b6c07fe0c3424528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/TempLogger-083a8dfb6d3b/node/prop1/set","payload":"hej","payloadType":"str","x":130,"y":720,"wires":[["1eb22f3be6805dc1"]]},{"id":"1399d1ea838db0ea","type":"inject","z":"b6c07fe0c3424528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/TempLogger-083a8dfb6d3b/node/prop2/set","payload":"da","payloadType":"str","x":130,"y":760,"wires":[["1eb22f3be6805dc1"]]},{"id":"3f68add21d52dada","type":"mqtt in","z":"b6c07fe0c3424528","d":true,"name":"","topic":"test/TempLogger-083a8dfb6d3b/289da3e4f0080/temperature","qos":"2","datatype":"auto-detect","broker":"c60b0fd1.ab0d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":900,"wires":[["6b9b483695f71607"]]},{"id":"6b9b483695f71607","type":"mqtt out","z":"b6c07fe0c3424528","d":true,"name":"","topic":"f6c/TempLogger-083a8dfb6d3b/289da3e4f0080/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c60b0fd1.ab0d5","x":840,"y":900,"wires":[]},{"id":"c60b0fd1.ab0d5","type":"mqtt-broker","name":"MQTT BrokerLlabolina","broker":"labolina","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1855d7bbb3573b6a","type":"ui_group","name":"Fan","tab":"a8435a2f0e415ea1","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8435a2f0e415ea1","type":"ui_tab","name":"Profoto","icon":"dashboard","order":9,"disabled":false,"hidden":false}]